button{ width: 10%; height: 39px; border: none;outline: none; border-radius: 18px; background-color: #ce971c; margin-left: 506px; color: aliceblue; font-weight: 700; }
img{ height: 400px; width: 300px; margin-left: 300px; }
