.formdiv{ padding-left: 370px;background-color: #e2dfdf; padding-top: 40px; }
.btn-secondary{ background-color: #841a1a; border: none;}
.btn-primary{    background-color: black; border: none; }
nav a {margin-left: 490px;}
.error{color: red;}
button{ margin-right: 16px;}